.navMenu{
    color: #000000;
    background-image: url("Imagens/madeira.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-x;
    height: 65px;
    min-width: 1180px;
    border-style: solid;
    border-width: 2px;
    border-color:#381B07;
    padding: 5px;
}
.ulMenu{
    border-width: 0px;
    margin-top: -54px;
    float: right;
}
.nav > .liMenu{
    border-width: 0px;
    width: 245px;
    font-size: 15px;
}
.imgWpp:hover{
background-image: url("Imagens/wpp.png");
}
.ulLogo{
    list-style-type: none;
    position: absolute;
    width: 225px;
    margin-top: -44px;
    margin-left: 43px;
    color: #381B071;
}
.liLogo{
    width: 200px;
    float: left;
    font-family: Sweet;
    font-size: 29px;
}
@font-face{
    font-family: Sweet;
    src: url("Sweet.ttf");
}
#logo{
    width: 85px;
    height: 70px;
    float: left;
    margin-left: -7px;
    margin-top: -74px
}

.divTopico{
    min-width: 1220px;
}
.topicos{
    border: 0px;
    margin-top: 2px;
}
.pTopico{
    font-family: cursive;
    font-size: 20px;
    padding: 10px;
}
.liTopico{
    border: 0px;
    cursor: pointer;
}
.servicos{
    border-right: 1px;
    border-right-style: solid;
    border-color: black;
}
.servicos:hover{
    border-right: 4px;
    border-right-style: solid;
    border-color: black;;
    border-left: 4px;
    border-left-style: solid;
}
.produtos{
    border-right: 1px;
    border-right-style: solid;
    border-color: black;
}
.produtos:hover{
    border-right: 4px;
    border-right-style: solid;
    border-color: black;;
    border-left: 4px;
    border-left-style: solid;
}
.ambientes:hover{
    border-right: 4px;
    border-right-style: solid;
    border-color: black;;
    border-left: 4px;
    border-left-style: solid;
}

#inBuscar{
    width: 250px;
    height: 36px;
    position: relative;
    float: right;
    color: gray;
    margin-top: -59px;
    margin-right: 100px;
    font-size: 17px;
}
#lupa{
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    color: lightgrey;
    margin-top: -50px;
    margin-right: 105px;
}





.imgPrincipal{
    height: 400px;
    width: 500px;
    margin: auto;
}
.divPrincipal{
    text-align: center;
}
.carousel{
    background-color: #381B07;
}
ul{
    list-style-type: none;
}
.liPrincipal{
    float: left;
    margin-top: 20px;
}





.contatowpp{
    width: 200px;
    margin-right: 0px;
    border: 0px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    padding: 5px;
    display: none;
}

.imgLink{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    background-size: 100% 100%;
}
.imgLink{
    background-image: url("Imagens/wpp.png");
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
}
.imgLink:hover{
    background-image: url("Imagens/picfoto.png");
}
.imgLink:hover + .contatowpp{
    display: block;
    margin-right: 40px;
}
.divContato{
    width: 300px;;
    margin-top: -55px;
    height: 32px;
    float: right;
    border: 0px
}
h1{
    font-family: cursive;
    color: white;
}




.marcenaria{
    width: 300px;
    height: 200px;
    background-size: 100% 100%;
    margin: 10px 25px 30px 28px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px hsl(51, 100%, 95%);
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    display: block;
}
.marcenaria2{
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 0;
    background-size: 100% 100%;
}
.divServicos{
    display: none;
}
.divProdutos{
    display: none;
}
.divAmbientes{
    display: none;
}